<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giiisp.giiisp">
    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 请求访问网络 -->

    <!-- 录音权限 -->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--往sdcard中写入数据的权限 -->
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23831974" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="900458ba343ee92bb56310cf0a004c23" /> <!-- 请填写你自己的appSecret -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="594a0f71a40fa31919001163" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${umeng_channel}" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.giiisp.giiisp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name=".widget.recording.StatusBarReceiver">
            <intent-filter>
                <action android:name="com.giiisp.giiisp.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.WelcomeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106127773" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".view.activity.GiiispActivity" />
        <activity android:name=".view.activity.DubbingActivity" />
        <activity android:name=".view.activity.LogInActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.EditUserInfoActivity" />
        <activity android:name=".view.activity.ExperienceActivity" />

        <activity
            android:name=".view.activity.VerifiedActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".view.activity.PaperDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".view.activity.AnswerVoiceMP3Activity" />
        <activity android:name=".view.activity.FragmentActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.FullscreenActivity" />
        <activity android:name=".view.activity.AttentionActivity" />
        <activity
            android:name=".view.activity.ProblemActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <service android:name=".widget.recording.PlayService" />

        <receiver android:name=".widget.recording.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>